<%= link_to "external link", "https://www.google.com/search?q=poop&oq=poop&aqs=chrome..69i57j0l5.732j1j7&sourceid=chrome&ie=UTF-8" %>
<%= link_to "internal link", micah_path %>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= image_tag("rose-blue-flower-rose-blooms-67636.jpg") %>
<%= link_to image_tag("rose-blue-flower-rose-blooms-67636.jpg") , "https://www.google.com/search?q=big+forehead&oq=big+fore&aqs=chrome.0.0j69i57j0l4.5860j0j7&sourceid=chrome&ie=UTF-8" %>
